/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;700&display=swap");

.App {
  display: flex;
  width: 100%;
}

* {
  font-family: "Lexend";
}

.sidebar {
  background-color: #29368e;
  /* height: 100vh; */
  width: 90px;
  color: white;
}

.main {
  background-color: #fafafa;
  width: 100%;
  color: black;
}

.header {
  height: 80px;
  border: whitesmoke;
  background-color: #ffffff;
  box-shadow: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.assets-heading {
  font-weight: 700;
  font-size: 18px;
}

.assets-text {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.assets-count {
  font-weight: 700;
  font-size: 16px;
}
.audit-button {
  background: none;
  border: 2px solid #c4c9ee;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16;
  display: flex;
  align-items: center;
}

.audit-button:hover {
  background-color: #29368e;
  color: #ffffff;
  border: 2px solid #29368e;
}

.chart-2-img {
  height: 248px;
  width: 248px;
}
.chart-2-text {
  font-weight: 700;
  font-size: 12px;
}

.chart-2-text2 {
  font-weight: 600;
  font-size: 14px;
}

.debitors-text {
  font-weight: 600;
  font-size: 14px;
}

.debitors-text-rupee {
  font-weight: 400;
  font-size: 14px;
}

.scroller {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

html {
  --scrollbarBG: #212121;
  --thumbBG: #212121;
}
.scroller::-webkit-scrollbar {
  width: 3px;
}
.scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.scroller::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroller::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.sidebar_text {
  font-weight: 400;
  font-size: 12px;
  margin-top: 20;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 249, 250);
}

.wrapper {
  width: 520px;
  max-width: 100%;
}

.progress-bar {
  height: 12px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  position: relative;
}

.progress-bar {
  margin-top: 2rem;
}

.bar {
  width: 0;
  height: 12px;
  background-color: #3344b2;
  background-size: 30px 30px;
  animation: move 2s linear infinite;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  transition: width 2s ease-out;
}

/*Lollipop background gradient animation*/
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}

.perc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}
